{% extends 'base.html' %}


{% block content %}

  
    <div class="p-container p-padding-large" style="margin-bottom:32px">
    <h3 id="about"><b>About Me</b></h3>
    <p>My passion for programming, started about 4 years ago, when i was in high school and i first started programming in C++ which I loved and got pretty good understanding of it.<br>That's when i decided to choose computer engineering as my studying path and have been doing it for the past years.<br> As challenging as it was, it was also very fun to get to know things by small steps.
    But, the journey isn't over i still need to put my knowledge of programming to real life applications. 
    With your company, i think i can change this world for the better! </p>

    <hr>
    
    <h3>Skills</h3>
       <p>HTML/CSS</p>
    <div class="p-grey">
      <div class="p-container p-dark-grey p-padding p-center" style="width:95%">95%</div>
    </div>
    <p>JAVASCRIPT/JQUERY</p>
    <div class="p-grey">
      <div class="p-container p-dark-grey p-padding p-center" style="width:85%">85%</div>
    </div>
    <p>C++</p>
    <div class="p-grey">
      <div class="p-container p-dark-grey p-padding p-center" style="width:80%">80%</div>
    </div>
       <p>MYSQL</p>
    <div class="p-grey">
      <div class="p-container p-dark-grey p-padding p-center" style="width:50%">50%</div>
    </div>
       <p>PYTHON</p>
    <div class="p-grey">
      <div class="p-container p-dark-grey p-padding p-center" style="width:60%">60%</div>
    </div>
   <p>DATA ANALYSIS AND VISUALIZATION</p>
    <div class="p-grey">
      <div class="p-container p-dark-grey p-padding p-center" style="width:80%">80%</div>
    </div>
    <p>
      <a href="../static/files/cv.pdf" target="_blank"><button class="p-button p-dark-grey p-padding-large p-margin-top p-margin-bottom">
        <i class="fa fa-download p-margin-right"></i>Download Resume
      </button></a>
    </p>
    <hr>
      <h3 id="projects"><b>Projects</b></h3>
    <h4><i>These are some of my best projects that i've done recently.</i></h4>
    </div >
     <!-- First Photo Grid-->
  <div class="p-row-padding" style="background-color: white;">
    <div class="p-third p-container p-margin-bottom">
      <img src="../static/files/pr.jpg" alt="PR" style="width:100%" class="p-hover-opacity">
      <div class="p-container p-white">
        <p><b>Welcome to Prishtina</b></p>
        <p>Using HTML, CSS, JS AND JQUERY<br>
        <a href="https://esmakrasniqi.github.io/VizitoPrishtinen/" target="_blank"> <button class="p-button p-dark-grey p-padding-large p-margin-top p-margin-bottom">Github link</button></a></p>
      </div>
    </div>
    <div class="p-third p-container p-margin-bottom">
      <img src="../static/files/kontrata.png" alt="Kontrata" style="width:100%;" class="p-hover-opacity">
      <div class="p-container p-white">
        <p><b>Open Contracts</b></p>
        <p>Open Contracts for Gjilan multipacity in partnership with ODK using HTML, CSS, Bootstrap.<br>
        <a href="https://esmakrasniqi.github.io/KontratatEHapura/" target="_blank"><button class="p-button p-dark-grey p-padding-large p-margin-top p-margin-bottom">Github link</button></a></p>
      </div>
    </div>
 <div class="p-third p-container">
      <img src="../static/files/odk.png" alt="TECHSTITUTION" style="width:100%;" class="p-hover-opacity">
      <div class="p-container p-white">
        <p><b>TECHSTITUTION</b></p>
        <p>Projects using mostly HTML, CSS and bootstrap.<br>        
        <a href="https://esmakrasniqi.github.io/techstitution/" target="_blank"><button class="p-button p-dark-grey p-padding-large p-margin-top p-margin-bottom">Github link</button></a></p>
      </div>
    </div>
  </div>
  <br>
   <!-- Second Photo Grid-->
<div class="p-row-padding" style="background-color: white;">
    <div class="p-third p-container p-margin-bottom">
      <img src="../static/files/123.png" alt="cinema" style="width:100%" class="p-hover-opacity">
      <div class="p-container p-white">
        <p><b>CINEMA</b></p>
        <p>Cinema ticket reservation webpage using HTML, Css and JavaScript.<br>
        <a href="https://esmakrasniqi.github.io/sisteme-gui/" target="_blank"><button class="p-button p-dark-grey p-padding-large p-margin-top p-margin-bottom">Github link</button></a></p>
      </div>
    </div>
    <div class="p-third p-container p-margin-bottom">
      <img src="../static/files/pregrade.png" alt="pregrade" style="width:100%" class="p-hover-opacity">
        <div class="p-container p-white">
        <p><b>PREGRADER</b></p>
        <p>Predicting student grades based on earlier data<br>
        <br><a href="https://github.com/esmakrasniqi/GradePrediciton" target="_blank"><button class="p-button p-dark-grey p-padding-large p-margin-top p-margin-bottom">Github link</button></a></p>
      </div>
    </div>
    <div class="p-third p-container">
      <img src="../static/files/nnm.jpg" alt="nnm" style="width:100%;" class="p-hover-opacity">
        <div class="p-container p-white">
        <p><b>NINE MEN'S MORRIS</b></p>
        <p>Implemented in Python using Alpha-Beta Pruning algorithm <br>
        <a href="https://github.com/esmakrasniqi/ninemensmorris" target="_blank"><button class="p-button p-dark-grey p-padding-large p-margin-top p-margin-bottom">Github link</button></a></p>
      </div>
    </div>
  </div>
 
  
   <div class="p-container p-padding-large">
    <h3 id="contact"><b>Contact Me</b></h3>
    <div class="p-row-padding p-center p-padding-24" style="margin:0 -16px">
      <div class="p-third p-dark-grey">
        <p><i class="fa fa-envelope p-xxlarge p-text-light-grey" style="color: black;"></i></p>
        <p>krasniqiesma@gmail.com</p>
      </div>
      <div class="p-third p-teal">
        <p><i class="fa fa-map-marker p-xxlarge p-text-light-grey"></i></p>
        <p>Prishtina, Kosova</p>
      </div>
      <div class="p-third p-dark-grey">
        <p><i class="fa fa-phone p-xxlarge p-text-light-grey"></i></p>
        <p>+383 46 118 979</p>
      </div>
    </div>
  </div>


</div>

{% endblock content %}