<!DOCTYPE html>
<html>
<head>
<title>ESMA KRASNIQI</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../static/styles/styles.css">
<script type="text/javascript" src="../static/styles/script.js"></script>

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
</head>
<body class="p-light-grey p-content" style="max-width:1600px">

<!-- Sidebar/menu -->
<nav class="p-sidebar p-collapse p-white p-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="p-container">
    <a href="#" onclick="w3_close()" class="p-hide-large p-right p-jumbo p-padding p-hover-grey p-link" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <img src="../static/files/esma1.jpg" class="p-round" style="width:45%;"><br><br>
    <h4><b>ESMA KRASNIQI</b></h4>
    <p style="font-size: 16px;">Computer Engineering Student</p>
  </div>
  <div class="p-bar-block">
      <a href="#about" onclick="w3_close()" class="p-bar-item p-button p-padding "><i class="fa fa-user fa-fw p-margin-right"></i>ABOUT</a> 
    <a href="#projects" onclick="w3_close()" class="p-bar-item p-button p-padding "><i class="fa fa-th-large fa-fw p-margin-right"></i>PORTFOLIO</a> 

    <a href="#contact" onclick="w3_close()" class="p-bar-item p-button p-padding"><i class="fa fa-envelope fa-fw p-margin-right"></i>CONTACT</a>
  </div>
  <div class="p-panel p-large">
    <a class="p-link" href="https://www.facebook.com/esmakrasniqii/"><i class="fa fa-facebook-official fa-2x p-hover-opacity"></i></a>
    <a class="p-link" href="https://www.instagram.com/esmakrasniqi/"><i class="fa fa-instagram fa-2x p-hover-opacity"></i></a>
    <a class="p-link" href="https://www.linkedin.com/in/esmakrasniqi/"><i class="fa fa-linkedin fa-2x p-hover-opacity"></i></a>
  </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="p-overlay p-hide-large p-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="p-main" style="margin-left:300px">

  <!-- Header -->
  <header id="portfolio">
    <a href="#"><img src="../static/files/esma1.jpg" style="width:65px;" class="p-circle p-right p-margin p-hide-large p-hover-opacity"></a>
    <span class="p-button p-hide-large p-xxlarge p-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="p-container">
    <h1><b>My Portfolio</b></h1>
    </div>
  </header>

{% block content %}
{% endblock content %}
</body>
</html>